.container {
  max-width: 36rem;
  padding: 1rem;
  margin: 2em auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0.5em;
  z-index: 100;
}

.header::before {
  /* This is used to create the blur effect on the header.
   These styles aren't on the header element itself for more 
   specific control over size and positioning without affecting 
   the header content */
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 100%;
  background-color: #ffffff7e;
  backdrop-filter: blur(16px);
  border-radius: 10px;
  z-index: -1;
}

.header::after {
  content: "…";
  position: absolute;
  bottom: 0;
  right: 1em;
}

.header h1 {
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

.header a {
  color: black;
}

.header a:hover {
  text-decoration: none;
  font-style: normal;
}

.nav {
  z-index: 101;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0;
}

.nav li {
  margin-right: 1rem;
  font-style: italic;
}

.nav li:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.nav a {
  display: block;
  height: 100%;
  width: 100%;
}
