.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 2rem;
  margin-right: 1rem;
}

.header a {
  color: black;
}

.header a:hover {
  text-decoration: none;
  font-style: normal;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav li {
  margin-right: 1rem;
  font-style: italic;
}

.nav li:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}
