html,
body {
  padding: 0;
  margin: 0;
  font-family: none;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  animation: fadeInAnimation ease-in 0.15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h1 {
  font-weight: normal;
  font-size: 2em;
}

a {
  color: #37559e;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

pre {
  font-size: 16px;
  white-space: pre;
  overflow-x: scroll;
  border-radius: 5px;
  background-color: #25262e;
  color: whitesmoke;
  padding: 5px 8px;
}

body {
  animation: fadeInAnimation ease-in 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
