.page_title {
  border-bottom: 1px solid black;
  margin: 2em 0;
  padding: 1em 0;
}

.page_title p {
  padding: 0px;
}

.contact_links > h2{
  margin: 0;
  font-size: 1em;
}

.contact_links div {
  display: flex;
  gap: 1em;
}

.contact_links a {
  text-decoration: none;
}
